VITE_API_URL=https://watchparty-vul6.onrender.com](https://watchparty-vul6.onrender.com
VITE_SOCKET_URL=https://watchparty-vul6.onrender.com](https://watchparty-vul6.onrender.comJWT_SECRET=your_jwt_secret
MONGODB_URI=your_mongodb_connection_string
PORT=5000
CLIENT_URL=http://localhost:5173